<mat-form-field>
    <mat-label>{{ label }}</mat-label>

    <mat-select [formControl]="myControl" panelWidth="500px" (selectionChange)="handleOptionSelected($event)" [value]="value" multiple>
        
        <mat-select-trigger>
            <ng-container *ngIf="myControl.value?.length">
                <span *ngFor="let selectedItem of myControl.value">
                    <span>
                        {{ selectedItem[displayKey] }}
                    </span>
                </span>
            </ng-container>
          </mat-select-trigger>

        <div class="ddPanelContainer">
            <div class="ddPanelBodyContainer">
                
                <div class="ddPanelHeading">
                    <ng-container *ngFor="let columnConfigItem of columnConfig">
                        <div class="ddPanelHeadingElement">
                            {{ columnConfigItem.title }}
                        </div>
                    </ng-container>
                </div>

                <mat-option *ngFor="let dataItem of dataList" [value]="dataItem">
                    <div class="ddPanelBodyRowItem">
                        <div class="ddPanelBodyRowElement" *ngFor="let columnConfigItem of columnConfig">
                            {{ dataItem[columnConfigItem.bindKey] }}
                        </div>
                    </div>
                </mat-option>
            </div>
        </div>
    </mat-select>

</mat-form-field>