<section>
    <h1 class="page-heading">Multi Column Drop Down</h1>
    <p>This is a drop down component with multiple columns for display. It is build to display more information in a structured manner for user to make a more informed selection.</p>

    <multi-column-drop-down
        [columnConfig]="dropDownColumnConfig"
        [dataList]="dropDownDataList"
        [(ngModel)]="doctor"
        (valueChanged)="handleDropDownChange($event)"
    >
    </multi-column-drop-down>

    <div>
        Selected Value: {{ displayValue }}
    </div>



</section>