<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Component Library</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav [(opened)]="sideMenuOpened" mode="side" class="app-sidenav">
      <mat-nav-list>
        <ng-container *ngFor="let navLinkItem of navLinkList">

          <mat-list-item [routerLink]="navLinkItem.route" (click)="handleNavListItemClick(navLinkItem)" [activated]="navLinkItem?.isActive">
            <span>{{ navLinkItem.title }}</span>
          </mat-list-item>

        </ng-container>
        
      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet>
      </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 