<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Menu">
      <mat-icon>menu</mat-icon>
  </button>
  <span>Component Library</span>
  <span class="toolbar-item-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav [(opened)]="sideMenuOpened" mode="side" class="app-sidenav">
      <mat-nav-list>
          
        <mat-list-item routerLink="/multi-column-drop-down-page">
           <span>Multi column drop down</span>
        </mat-list-item>

        <mat-list-item routerLink="/data-table-page">
           <span>Data Table</span>
        </mat-list-item>

      </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
      <router-outlet>
      </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 