.inputField{
    border-radius: 0.5rem;
}

.dataPanel{
    position: absolute;
    border: 1px solid grey;
    border-radius: 0.25rem;
    background-color: white;
}

.dataPanelTable{
    border-spacing: 0;
}

.dataPanelHeaders{
    background-color: rgb(225 221 221);
}

.dataRow:hover{
    background-color: rgb(168, 168, 168);
}